* {
    padding: 0;
    margin: 0,
}

.setup-container {
    width: 100%;
    height: 100vh;
    position: relative;
    background: rgb(235, 235, 235);
    font-family: 'Josefin Sans', sans-serif;
}

.setup-box {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    background-color: white;
    border-radius: 10px;
    width: 500px;
    height: 500px;
    translate: -50%;
    filter: drop-shadow(1px 1px 10px gray);
}

.setup-content {
    width: 100%;
    height: 100%;
    padding: 10px;
}

.setup-content div {
    text-align: center;
    font-size: 17px;
}

.logo {
    height: 30%;
    margin-top: 20px;
}

.logo img {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border-radius: 50%;
}

.logo div {
    margin: 10px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}
.logo-ani-prev{
    z-index: 10;
    /* animation: bigger 1s ease-in-out 1;
    animation-fill-mode: backwards;
    margin: 0!important; */
    width: 100%;
    height: 100vh;
    background-color: white;
    /* animation: fadebg 1s ease infinite; */
    display: block!important;
}
.logo-ani-prev img {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 10;
    animation: r1 1s ease infinite;
    /* transform-origin: 48%; */
}

.logo-ani img{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    animation: bigger 1s ease-in-out 1;
    animation-fill-mode: forwards;
    margin: 0!important;
}
@keyframes r1 {
    0% {
        width: 55px;
        height: 55px;
    }
    25% {
        width: 62px;
        height: 62px;
    }
    50% {
        width: 68px;
        height: 68px;
    }
    75% {
        width: 65px;
        height: 65px;
    }
    100% {
        width: 55px;
        height: 55px;
    }
}
@keyframes bigger {
    0% {
        z-index: 10;
        opacity: 1;
    }
    25% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.8;
    }
    90% {
        transform: translate(-50%, -450%);
        background-color: black;
        opacity: 0.9;
    }
    100% {
        opacity: 1;
        z-index: 10;
        transform: translate(-50%, -450%);

    }
}
@keyframes fadebg {
    /* 0% { background-color: #232528; }
    25% { background-color: #646970; }
    50% { background-color: #88909b; }
    75% { background-color: #c7cdd6;}
    90% { background-color: #ebebeb; }
    100% { background-color: white;} */
}

.main-content {
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    font-size: 18px;
    border: solid 1px rgb(226, 226, 226);
    margin: 5px;
    overflow-y: scroll;
    height: 40%;
}

.main-content input {
    border: solid 1px lightgrey;
    padding: 5px;
    border-radius: 10px;
    display: block;
    width: 60%;
    margin: 7px auto;
}

.main-content div {
    padding: 7px;
    text-align: left !important;
}

.main-content div:hover {
    background-color: rgb(236, 236, 236);
    border-radius: 10px;
    cursor: pointer;
}

.footer {
    cursor: pointer;
}
.footer div {
    width: fit-content;
    padding: 3px 7px;
    margin: 0 auto;
}
.footer div:hover {
    background: rgb(225, 225, 225);
    border-radius: 10px;
    transition: 400ms;
}

.left-navigate {
    position: absolute;
    left: 10px;
    top: 10px;
    padding: 5px 15px;
}

.right-navigate {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 5px 14px;
}

.left-navigate:hover {
    border-radius: 20px;
    background-color: rgb(236, 234, 234);
}