.product-grid {
    display: block;
    text-align: left;
    width: 100%;
    /* margin: -7px 0; */
}
.product-grid div{
    display: inline-block;
    width: 13%;
    padding: 5px 7px;
    border: solid 1px rgb(235, 235, 235);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: -10px;
}
.product-grid-desc {
    width: 30%!important;
    text-overflow: ellipsis;
    white-space:nowrap;
}
.product-grid-desc ~ div {
    width: 25%!important;
    white-space: nowrap;
}

.product-grid div:nth-child(2):hover {
    text-decoration: underline;
}