.layout {
    height: 100%;
    /* font-family: 'Courier New', Courier, monospace; */
}

.left {
    float: left;
    width: 20%;
    text-align: center;
}

.right {
    float: right;
    width: 80%;
    background-color: whitesmoke;
    height: 100vh;
}

.detail-container {
    margin: 5px 10px;
    border-radius: 10px;
    border: solid 1px lightgray;
    height: 100%;
}

.title {
    text-align: center;
    margin: 10px;
    padding: 5px 0;
    font-size: 30px;
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: 100;
}

.fixed-header {
    position: sticky;
    top: 64.1px;
    z-index: 11;
    background-color: whitesmoke;
    padding: 7px;
    border-radius: 10px;
    border-bottom: solid 1px lightgray;
}

.fLink {
    color: black;
    text-decoration: none;

}

.toolbar {
    border-radius: 10px;
    border: solid 1px rgb(166, 164, 164);
    background-color: #f7f7f7;
    color: black;
    margin: 20px 30px;
    padding: 2px;
}

.toolbar div {
    display: inline-block;
    margin: 5px 5px;
    background: rgb(237, 237, 237);
    border-radius: 10px;
    color: black;
    border: solid 1px rgb(166, 164, 164);
    padding: 7px 20px;
    cursor: pointer;
}

.toolbar div:hover {
    background-color: #1976d2;
    color: white;
    border: solid 1px #1976d2;
    transition: 400ms;
}

.toolbar span {
    margin-left: 5px;
}

.content {
    margin: 10px 25px;
}

.header-product {
    font-size: 20px;
    overflow: auto;
    text-overflow: auto;
    padding: 10px 0;
}

.header-product .left-menu {
    float: left;
    width: 50%;
    text-align: left;
}

.header-product .right-menu {
    float: right;
    width: 50%;
    text-align: right;
}

.header-product .right-menu span {
    background-color: lightgray;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 16px;
    border: solid 1px grey;
}

.products {
    margin: 15px 0;
    text-align: center;
}

.product div {
    /* text-align: right; */

}

.product-content {
    margin: 10px 5px;
    text-overflow: auto;
}

.n_left {
    width: 20%;
    float: left;
}

.n_right {
    width: 80%;
    float: right;
    font-size: 16px;
}

.n_right_content {
    width: 70%;
    padding: 7px 15px;
    border: solid 1px lightgray;
    border-radius: 10px;
    background-color: white;
    /* margin: 0 auto; */
}

.n_left div {
    margin: 30px;
    text-align: center;
}

.n_left div img {
    width: 200px;
    height: auto;
    border: 1px solid black;
    margin: 0 auto;
    border-radius: 10px;
}

.product-content input {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    font-size: 16px;
    border: solid 1px grey;
    padding: 0 7px;
}

.product-content .n_right div {
    margin: 20px auto;
}

.content button {
    margin: 5px 7px;
    border: solid 1px crimson;
    border-radius: 10px;
    padding: 5px 10px;
    color: crimson;
    background-color: rgb(237, 237, 237);
}

.content button:hover {
    background-color: crimson;
    color: white;
    transition: 200ms;
}

button.updateButton {
    border: solid 1px grey;
    color: black;
}

button.updateButton:hover {
    background-color: #1976d2;
    color: white;
    transition: 200ms;
    border: solid 1px #1976d2
}

.n_right_content select {
    font-size: 16px;
    border: solid 1px gray;
    padding: 7px 15px;
    /* width: 100px; */
    border-radius: 10px;
}

.n_right_content label {
    display: block;
}

.n_right_content textarea {
    width: 100%;
    border: solid 1px grey;
    padding: 7px;
    border-radius: 10px;
}

.fullScreenImage {
    position: absolute;
    width: 400px;
    height: auto;
    top: 25%;
    transform: translateY(-25%);
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
    border: solid 1px grey;
    transition: 400ms;
    border-radius: 10px;
}

.fullScreenImage~div {
    position: absolute;
    color: white;
    z-index: 10;
    top: 20px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
}

.img-container {
    background: #212121;
    width: -webkit-fill-available;
    width: -moz-available;
    height: calc(100vh - 64px);
    transition: 500ms;
    position: absolute;
    z-index: 9;
}

.productimg {
    background: url('https://static.vecteezy.com/system/resources/previews/005/988/954/original/hidden-icon-free-vector.jpg');

}

.loading {
    color: grey;
    text-align: center;
    margin: 30px 10px;
    font-size: 25px;
}

.loading .loadicon {
    animation: r 4s linear infinite;
    transform-origin: 48%;
    font-size: 35px;
    margin-bottom: 10px;
}

@keyframes r {
    to {
        transform: rotate(360deg)
    }
}

.toolbar .search {
    width: calc(100% - 550px);
    border: none;
    text-align: right;
    background: none;
    padding: 0;
    margin: 0;
}

.toolbar .search:hover {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    color: black;
}

.toolbar .search input {
    transition: 400ms;
    text-align: left;
    margin: 0 10px;
    height: 40px;
    width: 75px;
    border: solid 1px grey;
    border-radius: 10px;
    color: black;
    padding: 0 10px;
}

.toolbar .search input:focus {
    /* display: block; */
    width: calc(100% - 50px);
    transition: width 0.4s ease-in-out;
}

.sicon {
    font-size: 20px;
}

.update-modal {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    /* border: solid 1px gray; */
    filter: drop-shadow(1px 1px 10px rgb(182, 181, 181));
    text-align: center;
    margin: auto 0;
    height: 400px;
    /* line-height: 400px; */
    transition: 0.4s ease-in-out;
    font-size: 20px;
}
.update-modal span {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    line-height: 0;
    padding: 10px 13px;
    border-radius: 50%;
}
.update-modal span:hover {
    background-color: rgba(228,230,235,255);
    padding: 10px 13px;
    cursor: pointer;
    transition: 400ms;
}
.opacity-success {
    opacity: 0.1;
}