.container {
    /* background-color: rgb(242, 242, 242); */
    background-color: white;
    padding: 10px;
    display: inline-block;
    margin: 10px;
    /* border: solid grey 0.25px; */
    border-radius: 10px;
    width: fit-content;
    filter: drop-shadow(1px 1px 5px rgb(182, 181, 181));
}
.tile {
    width: 150px;
    height: 150px;
    /* background-color: black; */
    color: white;
    margin: 10px;
    border-radius: 7px;
    display: inline-block;
}
.tile img {
    height: 150px;
    width: 150px;
    border-radius: 10px;
}
/* .tile img:hover {
    transform: scale(1.5);
    transition: 400ms;
    border: solid 1px black;
    transition-delay: 1.5s;
} */
.productName {
    text-align: center;
}
.productName h4 {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 170px;
}

.blurtile {
    opacity: 0.5!important;
}

.blurtile .productName {
    color: rgb(153, 5, 35);
    text-decoration: line-through;
    text-decoration-thickness: 1px;
}