.order-container {
    overflow: auto;
    height: calc(100vh - 64px - 20px);
    margin: 7px;
    
    padding: 7px;
    border-radius: 10px;
    border: solid 1px grey;
    background-color: rgb(253, 253, 253);
}
.order-left {
    float: left;
    width: 60%;
    text-align: center;
}

.order-right {
    float: right;
    width: 40%;
    background-color: lightgray;
}

.order-right-content {
    position: fixed;
    width: calc(40% - 7px);
    padding: 7px 10px;
    text-align: center;
    border: 1px solid grey;
    border-radius: 10px;
    height: calc(100vh - 64px - 35px);
}
.order-container table {
    width: 100%;
}
.order-container table td {
    border: solid 1px grey;
    padding: 7px 0;
    /* height: 30px; */
}
.order-container table input {
    width: 50px;
    border-top: solid 1px grey;
    border-bottom: solid 1px grey;
    /* border-radius: 10px; */
    padding: 0 10px;
    text-align: center;
}

.order-container table button {
    width: 30px;
    padding: 0 10px;
    border: solid 1px gray;
    background-color: lightgray;    
    text-align: center;
    border-radius: 10px 0 0 10px;
}

.right-btn {
    border-radius: 0 10px 10px 0!important;
}

.restInfo>div{
    font-size: 30px;
    margin: 10px 0;
    font-weight: bold;
}
.restInfo .orderInfo {
    /* margin:  */
    font-weight: normal;
    font-size: 16px;
}
.restInfo .orderInfo table {
    text-align: left;
}
.restInfo .orderInfo table td {
    padding: 3px 10px;
    border: solid 1px lightgrey;
}
.order-actions {
    position: fixed;
    bottom: 20px;
    /* border: solid 1px lightgray; */
    width: calc(40% - 27px);
    padding: 7px 0;
    border-radius: 10px;
}
.order-actions button{
    border-radius: 10px;
    margin: 0 7px;
    padding: 7px 10px;
}

.orderlist-item {
    width: 200px;
    border-radius: 10px;
    height: fit-content;
    display: inline-block;
    margin: 7px 10px;
    background-color: lightgray;
    filter: drop-shadow(1px 1px 5px rgb(182, 181, 181));
}

.orderlist-item .item-id {
    background-color: #93C6D6;
    padding: 7px 10px;
    border-radius: 10px 10px 0 0;
}
.orderlist-item .item-content {
    height: 60px;
}
.orderlist-item .item-content div{
    float: left;
    width: 50%;
    padding: 7px 10px;
    height: 60px;
    background-color: white;
}
.orderlist-item .item-content div:first-child {
    font-size: 35px;
    text-align: center;
    background-color: rgb(236, 235, 235);
}

.orderlist-item .item-status {
    background: #3E8989;
    padding: 7px 10px;
    border-radius: 0 0 10px 10px;
    text-align: center;
}
.orderlist-item .item-status span {
    margin: 10px 7px;
    padding: 5px 10px;
    color: white;
    height: 30px;
    line-height: 30px;
}
.orderlist-item .item-status span:hover {
    background-color: rgb(230, 229, 229);
    border-radius: 100px;
    transition: 400ms;
    color: black;
}

.fWidth {
    width: 100%;
}

.slbtn {
    padding: 10px;
    border-radius: 10px;
    border: solid 1px lightgray;
    margin: 0 7px;
}